:root {
  --primary-color: #009402;
  --secondary-color: #14281d;
  --bg: #c4c4c4;
}
@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/montserrat-roboto/Montserrat/static/Montserrat-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/montserrat-roboto/Montserrat/static/Montserrat-Bold.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/montserrat-roboto/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/montserrat-roboto/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  color: white;
  font-family: "roboto";
}
h1 {
  font-size: 40px;
  font-family: "montserrat";
  font-weight: bolder;
}
h2 {
  font-size: 24px;
  font-family: "montserrat";
  font-weight: bold;
}
em {
  font-size: 12px;
}
input {
  outline: none;
}

.main-panel {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--bg);
}
.content-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.side-nav {
  width: 25%;
  max-width: 235px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
}
.side-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer {
  align-self: center;
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

