.welcome-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 35px;
}
.welcome-actions{
    display: flex;
    gap: 20px;
}
.welcome-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-title>*{
    color: var(--secondary-color);
}