.quiz-btn{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.quiz-btn.completed {
    background-color: #d4f8d4;
    color: var(--primary-color);
    cursor: not-allowed;
  }
  .quiz-btn.completed:hover {
    background-color: #c4e6c4;
  }
  .quiz-btn.completed p{
    color: var(--secondary-color);
  }
.quiz-btn:hover{
    box-shadow:  0 0 5px white;
}
.btn-title{
    display: flex;
    gap: 2px;
    align-items: center;
}
.separator{
    height: 1px;
    width: 100%;
    background-color: var(--bg);
}